extends layout 
 
block content 
  h1= title 
    if (toShow == null)
        h2 No instance to update
    else
        - let vehicleid = toShow._id
        - let Vehicle_type = toShow.Vehicle_type
        - let vehiclecolor = toShow.color
        - let vehiclecost = toShow.cost 
        div 
            div.row 
                div(class='vehicleAttr mr-3') vehicle ID is: 
                div #{vehicleid} 
            div.row 
                div(class='vehicleAttr mr-3') vehicle Type is: 
                div #{Vehicle_type} 
            div.row 
                div(class='vehicleAttr mr-3') vehicle cost is: 
                div #{vehiclecost} 
            div.row 
                div(class='vehicleAttr mr-3') vehicle Color is: 
                div #{vehiclecolor} 