extends layout

block content
  h1= title
  - let result = results
  div(class= "container-fluid")
    div(class = "row")
      each item,index in result
        div(class= "col-sm-2" , onclick=`buy(${index})`) #{item.Vehicle_type}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.color}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.cost}

  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }
